.hero {
  height: 90vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
  flex-wrap: wrap; /* Allows items to wrap */
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding-left: 180px;
  line-height: 1.1;
}

.hero-left h2 {
  color: #090909;
  font-size: 26px;
  font-weight: 600;
}

.hero-left p {
  color: #171717;
  font-size: 80px;
  font-weight: 700;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 20px;
}

.hero-hand-icon img {
  width: 105px;
}

.hero-latest-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 310px;
  height: 70px;
  border-radius: 75px;
  margin-top: 30px;
  background: #ff4141;
  color: white;
  font-size: 22px;
  font-weight: 500;
  cursor: pointer;
}

.hero-right {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  height: 80%;
}

.hero-right img {
  height: 100%;
  margin-bottom: 70px;
}

@media (max-width: 1024px) {
  .hero {
    height: auto;
    padding: 20px;
  }

  .hero-left {
    padding-left: 50px;
  }

  .hero-left p {
    font-size: 60px;
  }

  .hero-latest-button {
    width: 310px;
    height: 70px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .hero-left {
    padding-left: 30px;
  }

  .hero-left p {
    font-size: 50px;
  }

  .hero-latest-button {
    width: 290px;
  height: 60px;
    font-size: 18px;
  }

  .hero-right img {
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 480px) {
  .hero-left {
    padding-left: 20px;
  }

  .hero-left p {
    font-size: 40px;
  }

  .hero-latest-button {
    width: 290px;
  height: 60px;
    font-size: 16px;
  }

  .hero-right {
    margin-top: 0;
  }
}
